* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

html, body {
  height: 100%;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_bar {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.main_content_container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;

}

.task_container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 70%;
  justify-content: space-between;
  background-color: gray;
}

.button_container {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;

  button {
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 2px 2px 10px black;
    transition: 0.1s all ease;
  }

  button:hover {
    background-color: red;
    box-shadow: 5px 5px 15px black;
  }
}

.tasks {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow: visible;

  ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    li{
      height: 50px;
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 10px;
      background-color: rgb(245, 131, 131);
      color: white;
      transition: 0.2s all ease;
      box-shadow: 2px 2px 5px black;
      justify-content: space-between;
    }

    li:hover {
      transform: scale(1.1);
      margin-bottom: 50px;
      box-shadow: 5px 5px 15px black;

    }
  } 
}
